@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: theblack;
    src: url(Fontes/fonts2/JMH\ Typewriter-Black.ttf);
}

body{
    color: var(--white);
    font-family: theblack;
    background-color: var(--black);
}
nav{
    color: rgb(255, 255, 255);
    padding: 30px 10px;
}
a{
    color: aliceblue;
}
h2{
    background-color: rgb(0, 136, 255);
}