@charset "UTF-8";
@import "reset.css";
@import "cores.css";

@font-face {
    font-family: theblack;
    src: url(Fontes/fonts2/JMH\ Typewriter-Black.ttf);
}

body{
    color: var(--white);
    font-family: theblack;
    background-color: var(--black);
}
nav{
    color: aliceblue;
    padding: 30px 10px;
}